@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}

.grand-container{
  width: 98%;
  margin: 0 auto;
}

nav{
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 0 10px 1px rgb(0, 0, 0);
  z-index: 10;
  align-items: center;
}

.logo-box{
  margin: 2.5vh 5vw;
}

.logo-box h1{
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
}

.green-o{
  color: rgb(0, 137, 123);
}

.list-box{
  margin: 2vh 5vw 2vh 40vw;
}

.nav-list{
  display: flex;
  list-style: none;
  margin: 1.7vh 0;
}

.nav-list a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-list li{
  margin: 0 2vw;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.nav-list li:hover{
  color: rgb(0, 137, 123);
  cursor: pointer;
}

.nav-contact_btn{
  width: 9%;
  height: 7vh;
  font-family: "Roboto", sans-serif;
  font-size: .95rem;
  border: none;
  background-color: rgb(0, 137, 123);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 2vh 0;
}

.nav-contact_btn:hover{
  background-color: rgba(0, 137, 123, 0.8);
  cursor: pointer;
}

.blog-cover-intro{
  background-image: url('/Images/dariusz-sankowski-3OiYMgDKJ6k-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.intro-contents h1{
  font-size: 4rem;
  text-align: center;
  padding: 40vh 0 0;
  color: rgb(255, 255, 255);
  font-family: "Great Vibes", cursive;
}

.intro-contents .small{
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}

.intro-contents .no-fill{
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 2px rgb(240, 240, 240);
}

.blog-btn{
  margin: 4vh 44vw;
  width: 9%;
  height: 5.5vh;
  font-family: "Roboto", sans-serif;
  font-size: .95rem;
  border: none;
  background-color: rgb(0, 137, 123);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: bold;
}

.blog-btn:hover{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 137, 123);
}

.first-blog{
  margin: 15vh auto 10vh;
}

.intro-h1{
  font-size: 2.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

.first-blog_flex{
  display: flex;
}

.first-blog h1{
  margin: 0 6vw;
}

.main-story{
  width: 60%;
  margin: 8vh 0 0 6vw;
  background-color: rgb(224, 224, 224);
}

.main-img_box{
  width: 100%;
}

.main-img{
  width: 100%;
}

.side-stories{
  width: 30%;
  margin: 8vh 0 0 5vw;
}

.sidestory-img1_box{
  width: 75%;
}

.side-img1{
  width: 100%;
}

.inspire-btn{
  border: none;
  background-color: rgb(0, 137, 123);
  width: 11%;
  height: 4.5vh;
  margin: 3vh 3vw 2vh;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}

.inspire-btn:hover{
  background-color: rgba(0, 137, 123, 0.7);
}

.inspire-btn:hover{
  cursor: pointer;
}

.main-story h1{
  margin: 1vh 3vw;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.main-story p{
  margin: 3vh 3vw 0;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  line-height: 3.3vh;
}

.fullstory-btn{
  border: none;
  background: transparent;
  font-size: 1.1rem;
  margin: 0.2vh 0 4vh 46.7vw;
  color: rgba(0, 0, 0, 0.7);
}

.fa-arrow-right-long{
  color: rgb(0, 137, 123);
  margin: 0 0 0 0.2vw;
  transition: all 350ms ease-out;
}

.fullstory-btn:hover .fa-arrow-right-long{
  cursor: pointer;
  margin: 0 0 0 0.6vw;
}

.fullstory-btn:hover{
  cursor: pointer;
}