@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(240, 240, 240);
  color: rgb(51, 51, 51);
}

.grand-container{
  width: 98%;
  margin: 0 auto;
}

nav{
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 0 10px 1px rgb(0, 0, 0);
}

.logo-box{
  margin: 2.5vh 5vw;
}

.logo-box h1{
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
}

.green-o{
  color: rgb(0, 137, 123);
}

.list-box{
  margin: 2vh 5vw 2vh 44vw;
}

.nav-list{
  display: flex;
  list-style: none;
  margin: 1.7vh 0;
}

.nav-list li{
  margin: 0 2vw;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.nav-list li:hover{
  color: rgb(0, 137, 123);
  cursor: pointer;
}

.nav-contact_btn{
  width: 9%;
  height: 7vh;
  font-family: "Roboto", sans-serif;
  font-size: .95rem;
  border: none;
  background-color: rgb(0, 137, 123);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 2vh 0;
}

.nav-contact_btn:hover{
  background-color: rgba(0, 137, 123, 0.8);
  cursor: pointer;
}

.first-blog{
  margin: 20vh auto 10vh;
}

.first-blog_flex{
  display: flex;
  border: 1px solid red;
}

.first-blog h1{
  margin: 0 6vw;
}

.main-story{
  width: 55%;
  margin: 8vh 0 0 6vw;
}

.main-img_box{
  width: 100%;
}

.main-img{
  width: 100%;
}

.side-stories{
  border: 1px solid red;
  width: 35%;
}

.sidestory-img1_box{
  width: 40%;
}

.side-img1{
  width: 100%;
}