@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;
  color: rgb(51, 51, 51);
}

nav{
  box-shadow: 0 0 5px rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
}

.grand-container{
  width: 98%;
  margin: auto;
}

.nav-container{
  display: flex;
  height: 10vh;
}

.logo-container{
  width: 7%;
  margin: 1vh 0 0 3vw;
}

.logo{
  width: 100%;
}

.nav-list{
  display: flex;
  list-style: none;
  margin: 3.4vh 0 0 48vw;
}

.nav-list li{
  margin: 0vh 2.5vw;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-list li:hover{
  color: rgb(114, 218, 114);
}

.intro-section{
  margin: 10vh 0 0;
  height: 90vh;
  background-image: url(/Images/Home-intro-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-writeup h1{
  color: rgb(31, 31, 31);
  font-family: "Lobster", sans-serif;
  font-size: 4rem;
  text-align: center;
  padding: 20vh 0 0;
}

.span-01{
  color: rgb(10, 69, 10);
}

.intro-writeup p{
  font-size: 1.7rem;
  color: rgb(35, 35, 35);
  text-align: center;
  padding: 7vh 0 0;
}

.intro-btn_container{
  margin: 10vh 0 0 38vw;
}

.intro-contact_btn{
  width: 16%;
  height: 6vh;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 120, 40);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s ease-out;
}

.intro-contact_btn:hover{
  background-color: rgba(40, 120, 40, 0.8);
}

.intro-blog_btn{
  width: 16%;
  height: 6vh;
  font-size: 1rem;
  color: rgb(31, 31, 31);
  background-color: transparent;
  border: 1px solid rgb(40, 120, 40);
  border-radius: 6px;
  margin: 0 0 0 2vw;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.intro-blog_btn:hover{
  background-color: rgb(40, 120, 40);
  color: rgb(255, 255, 255);
  border: none;
}

.blog-flex1{
  display: flex;
}

.blog-1{
  border: 1px solid red;
  width: 50%;
  margin: 0 0 0 5vw
}

.blog1-img_container{
  width: 90%;
}

.blog1-img1{
  width: 100%;
}

.blog-2{
  width: 50%;
  margin: 0 0 0 5vw;
}

.blog2-img_container{
  width: 90%;
}

.blog1-img2{
  width: 100%;
}